repository:
  allow_auto_merge: true
  allow_merge_commit: false
  allow_rebase_merge: true
  allow_squash_merge: true
  default_branch: main
  delete_branch_on_merge: true
  description: something cool this way comes

branches:
  - name: main
    protection:
      required_pull_request_reviews: null
      required_status_checks:
        strict: true
        contexts: [ci]
      enforce_admins: true
      required_linear_history: true
      restrictions: null
